header {
    background-color: grey;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 30px;
    width: 100%;
}

footer {
    background-color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;	
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: 700;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bloco1 {
    flex-direction: column;
    justify-content: space-around;
}

.bloco2 {
    flex-direction: column;
    justify-content: space-around;
}

.bc1pq {
    width: 100px;
    height: 100px;
}
.bc1gd {
    width: 200px;
    height: 300px;
}
.bc2pq {

}
.bc2gd{

}