.titulo {
    color: rgba(2, 5, 27, 0.74);
    text-align: center;
}

.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;    
}
.primeiraImg {
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-left: 528px;
    margin-right: 528px;
    max-width: 350px;
    padding: 20px;
}
.segundaImg {
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 20px;
}
.terceiraImg{
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 20px;
}
p {
    display: flex;
    position: relative;
    max-width: 950px;
}
